   body {
font-family: Arial;
margin: 0;
padding: 0;
}
header {
background: darkblue;
color: white;
padding: 15px;
text-align: center;
}
nav {
background: gray;
padding: 10px;
text-align: center;
}
nav a {
color: white;
text-decoration: none;
margin: 0 15px;
font-weight: bold;
}
nav a:hover {
color: yellow;
}
section {
padding: 40px;
text-align: center;
}
footer {
background: darkblue;
color: white;
text-align: center;
padding: 10px;
}
footer :hover{
    color: yellow;
}
.ceo {
margin-top: 20px;
font-style: italic;
color: #333;
}
form input, form textarea {
display: block;
margin: 10px auto;
width: 80%;
padding: 10px;
}
form button {
background: darkblue;
color: white;
padding: 10px 20px;
border: none;
cursor: pointer;
}

#home img {
    width: 50%;
    height: 400px;
}
header img{
    width: 80px;
    height: 80px;
}
.ceo img{
    height: 100px;
    width: 100px;
}
*{
    margin: 0 0;
}
#all {
    background-color: antiquewhite;
}
.services video {
    height: 60px;
    width: 70%;
}
